@import url('https://fonts.googleapis.com/css2?family=Poppins: wght@300; 400; 500; 600')

/* Estilo comentarios */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    width: 100%; 
    min-height: 100vh; 
    overflow: hidden; 
    background: #fd4a2b }
section{ 
    width: 100%; 
    position: relative; }
.navbar{
    width: 100%;

}